.page-header {
  @media screen and (min-width: 480px) and (max-width: 767px) {
    width: 100%;
    height: 60px;
    position: relative;
    display: flex;
    justify-content: center;
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

.main-nav {

  @media screen and (min-width: 480px) and (max-width: 767px) {
  width: 100%;
  // padding-left: 15px;
 }
 @media screen and (min-width: 768px) and (max-width: 1199px) {
  // width: 100%;
  height: 80px;
  display: flex;
  padding-left: 15px;
 }
 @media screen and (min-width: 1200px) {
  // width: 100%;
  // height: 80px;
  display: flex;
  align-items: center;
  padding-left: 15px;
 }
}

.site-nav .logo {
  display: flex;
  margin-right: 93px;
  @media screen and (min-width: 480px) {
  display: inline-block;
  padding: 0;
  margin: 0;
 }
 @media screen and (min-width: 768px) {
  margin-right: 88px;
  padding-top: 25px;
  padding-bottom: 25px;
 }
}

.site-nav {
display: flex;
align-items: center;
@media screen and (min-width: 480px) {
display: inline-block;
margin: 0;
padding: 0;
 }
@media screen and (min-width: 768px) {
display: flex;
margin: 0;
padding: 0;
 }
}

.navigator {
  width: 100%;
  @media screen and (max-width: 767px) {
  display: none;
 }
 @media screen and (min-width: 768px) and (max-width: 1199px) {
  margin-right: 90px;
 }
}

.site-nav .list {
  display: flex;
}

.site-nav.item {
  margin-right: 50px;
  &:last-child {
  margin-right: 0;
 }
  @media screen and (min-width: 767px) {
  margin-right: 51px;
  &:first-child {
  margin-right: 0;
  }
 }
}

.site-nav.link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: transform var(--transition-time), color var(--transition-time);
  &:hover,
  &:focus {
  color: var(--accent-color);
  }
}

.site-nav.link {
  transition: color var(--transition-time);
}

.current {
 &::after {
  content: "";
  position: absolute;
  left: 0px;
  top: 78px;
  display: block;
  margin: -1px;
  width: 100%;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
  transition: transform var(--transition-time);
}
}

.link.current {
  position: relative;
}

.site-nav a {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: transform var(--transition-time), color var(--transition-time);
}

.site-nav .link.current {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--accent-color);
  &:hover,
  &:focus {
  color: inherit;
  color: var(--accent-color);
  }
  @media screen and (min-width: 577px) {
    margin-right: 56px;
  }
}
 


.auth-nav {
  @media screen and (min-width: 767px) {
  display: flex;
  flex-wrap: wrap;

  }
  
  @media screen and (min-width: 1200px) {
  display: flex;
  align-items: center;
  margin-left: auto;
 }
}

.auth-nav .item + .item {
  margin-left: 30px;
  @media screen and (min-width: 768px) {
  margin: 0;
  }
}

.contact {
  // width: 100%;
  @media screen and (max-width: 767px) {
  display: none;
 }
@media screen and (min-width: 768px) {
  display: block;
  padding-top: 20px;
  padding-bottom: 10px;
 }
 @media screen and (min-width: 1200px) {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  flex-wrap: wrap;
  margin-left: auto;
 }
}

.auth-nav a {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  text-decoration: none;
  transition: transform var(--transition-time), color var(--transition-time);
  @media screen and (min-width: 767px) and (max-width: 1199px) {
  font-size: 12px;
  line-height: 1.16;
   }
  @media screen and (min-width: 1200px) {
  font-size: 14px;
  line-height: 1.14;
   }
}

.auth-nav .link {
  &:hover,
  &:focus {
  color: var(--accent-color);
 }
}

.auth-nav .item {
  @media screen and (min-width: 767px) and (max-width: 1199px) {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  text-decoration: none;
  }
  @media screen and (min-width: 1200px) {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  text-decoration: none;
  }
}
.auth-nav .item:not(:last-child) {
  @media screen and (max-width: 1199px) {
  margin-bottom: 10px;
  }
  @media screen and (min-width: 1200px) {
  margin-right: 30px;
  }
}

.icon-envelope {
  width: 16px;
  height: 12px;
  fill: var(--primary-text-color);
  transition: transform var(--transition-time), fill var(--transition-time);
  .auth-nav .link:hover &,
  .auth-nav .link:focus & {
  fill: var(--accent-color);
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
  margin-right: 8px;
 }
  @media screen and (min-width: 1200px) {
  margin-right: 10px;
 }
}

.icon-smartphone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: var(--primary-text-color);
  transition: transform var(--transition-time), fill var(--transition-time);
  .auth-nav .link:hover &,
  .auth-nav .link:focus & {
  fill: var(--accent-color);
  }
   @media screen and (min-width: 767px) and (max-width: 1199px) {
    margin-right: 8px;
 }
}
.menu-open-btn {
  position: absolute;
  top: 50%;
  left: 94%;
  transform: translate(-50%, -50%) scaleX(1);
  transition: transform var(--transition-time);
  background-color: transparent;
  border: none;
  @media screen and (min-width: 481px) {
  display: none;
  }
}
.menu-open-btn__icon-menu {
 width: 24px;
 height: 24px;
}

.mobil-menu {
 position: absolute;
 top: 0;
 background-color: var(--primary-bg-color);
 width: 100vw;
 height: 100vh;
//  height: 100vh;
//  z-index: 1;
 padding-top: 21px;
 padding-bottom: 48px;
 padding-left: 25px;
 padding-right: 10px;
 >.conteiner {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // overflow: auto;
 }

}
.mobil-menu__top {
  display: flex;
  flex-direction: column;
}

.mobil-menu__bottom {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  margin-top: auto;
}



.menu-close {
  display: block;
  margin-left: 394px;
  text-align: left;
  background-color: transparent;
  border: none;
  padding: 0;
  &:focus,
  &:hover {
  fill: var(--accent-color);
 }
 }

 .menu-close__icon-close {
  width: 18px;
  height: 18px;
  &:focus,
  &:hover {
  fill: var(--accent-color);
 }
 }

.mobil-menu__list {
margin-bottom: auto;
}
.mobil-menu__item:not(:first-child) {
  margin-bottom: 32px;
}

.mobil-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobil-menu__item:first-child {
margin-bottom: 35px;
}

.mobil-menu__link {
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 40px;
line-height: 1.17;
letter-spacing: 0.02em;
color: #212121;
list-style: none;
text-decoration: none;
}

.mobil-menu__link.activ {
  &:focus,
  &:hover {
  color: var(--accent-color);
  }
 }

// .mobil-menu link {
// list-style: none;
// text-decoration: none;
// }

.mobil-contact {
margin-bottom: 64px;
}
.mobil-contact__list {
list-style: none;
text-decoration: none;
}
.mobil-contact__item:not(:last-child) {
margin-bottom: 32px;
}

.mobil-contact__link {
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 1.16;
letter-spacing: 0.02em;
color: #757575;
text-decoration: none;

}
.mobil-contact__tel {
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 34px;
line-height: 1.17;
letter-spacing: 0.02em;
color: #2196F3;
text-decoration: none;
}
.mobil-social {
display: flex;
align-items: center;

}
.mobil-social__list {
display: flex;
gap: 10px;
list-style: none;
text-decoration: none;
}
.mobil-social__item {
display: block;
}
.mobil-social__item:not(:last-child) {
border-right: 1px solid rgba(33, 33, 33, 0.2);
&:hover,
&:focus {
border-right: 1px solid var(--accent-color);
 }
}

.mobil-social__link {
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 1.22;
letter-spacing: 0.02em;
color: #2196F3;
text-decoration: none;
}

.mobil-social__link {
margin-right: 10px;
}