.logo {
  padding-top: 24px;
  padding-bottom: 25px;
  color: var(--logo-color);
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  span {
  color: var(--accent-color);
 }
}
.site-nav .logo {
  color: var(--logo-color);
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
