.content {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.social.list {
  display: flex;
}

.social__items {
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border: none;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--social-color);
  background-color: transparent;
  &:hover,
  &:focus {
  background-color: var(--accent-color);
  }
}

.social__links {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: transparent;
  transition: background-color var(--transition-time);
  &:hover,
  &:focus {
  background-color: var(--accent-color);
  }
}

.social__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  fill: var(--social-color);
  transition: fill var(--transition-time);
  .social__links:hover &,
  .social__links:focus & {
  fill: var(--primary-bg-color);
  }
}

.work.list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.work__title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  color: var(--title-text-color);
}

.work__text {
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 1.18;
  color: var(--primary-text-color);
}

.work__item {
  width: 100%;
  @media screen and (min-width: 768px) {
  width: calc((100% - 30px) / 2);
 }
  @media screen and (min-width: 1200px) {
  width: calc((100% - 90px) / 4);
 }
  text-align: center;
  // margin-right: 30px;
  background-color: var(--primary-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
  0px 2px 1px rgba(0, 0, 0, 0.2);
  // // &:nth-child(4n) {
  // // margin-right: 0;
  // }
}

.work__img {
  // width: 270px;
  margin-bottom: 30px;
}

.section__work {
  background-color: var(--section-bg-color);
  @media screen and (min-width: 480px) {
  padding-bottom: 60px;
 }
  @media screen and (min-width: 768px) {
  padding-bottom: 60px;
 }
  @media screen and (min-width: 1200px) {
  padding-bottom: 94px;
 }
}

.section__work__title {
  color: var(--title-text-color);
  font-weight: 700;
  @media screen and (min-width: 480px) {
  padding-top: 60px;
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
   }
  @media screen and (min-width: 768px) {
  padding-top: 60px;
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
   }
  @media screen and (min-width: 1200px) {
  padding-top: 94px;
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
   }
}